.result {
    max-width: 665px;
    width: 100%;
    height: 849px;
    margin: 0 5px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), #FDFCFE;
    border: 1px solid #D8DAEB;
    box-shadow: 1px 10px 20px rgba(120, 118, 148, 0.15);
    border-radius: 6px;
}